<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
  <div class="col-11">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px; ">{{ job['title'] }}</h4>
    <div><b>Location:</b>{{ job['location'] }}</div>
    {% if 'salary' in job %}
      <div><b>Salary:</b>{{ job['salary'] }}</div>
    {% endif %}
  </div>
  <div class="col-1">
    <a href="mailto:ayush.s.hande29@gmail.com?subject=Application to join {{job['title']}}&body=Dear Hiring Manager,%0D%0A%0D%0A
      I hope this email finds you well. I am writing to express my interest in the {{job['title']}} position at your company. With my skills and passion, I am eager to contribute effectively to your team.%0D%0A%0D%0A
      I would appreciate the opportunity to discuss how my background aligns with your needs. Please let me know a convenient time for a conversation.%0D%0A%0D%0A
      Looking forward to your response.%0D%0A%0D%0A
      Best regards,%0D%0A
      [Your Name]%0D%0A
      [Your Contact Information]
" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>